@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


:root {
  --bg-color-main: #F8FAFC;
  --card-bg: #FFFFFF;
  --card-stroke: #CBD5E1;
  --instruction-text:#000000;
  --text:#000000;
  --stroke-selectors-and-search-bars: #CBD5E1;
  --selectors-and-search-bars: #EDEDED;
  --red-base: #EF4444;
  --blue-buttons: #0D448A;
  --blue-navbar: #1361C5;
  --gray-subtitles: #64748B;
  --green-buttons: #10B981;
}


@theme {
  --font-work: "Work Sans", sans-serif; 
}